In [20]:
import pandas as pd
import json

with open('/home/wmnlab/D/database/2023-04-01/time_sync_lpt3.json', 'r') as f:
    json_object = json.load(f)
delta = pd.DataFrame.from_dict(json_object, orient='index', columns=['delta']).reset_index(names='Timestamp')
delta['Timestamp'] = pd.to_datetime(delta['Timestamp'])
delta['timedelta'] = pd.to_timedelta(delta['delta'], unit='seconds')
delta

                    Timestamp     delta                   timedelta
0  2023-04-01 11:41:09.159653 -1.435313 -1 days +23:59:58.564686962
1  2023-04-01 14:07:37.404427  0.397438   0 days 00:00:00.397438500
2  2023-04-01 14:21:19.983960  0.394539   0 days 00:00:00.394538966
3  2023-04-01 14:32:12.341124  0.391556   0 days 00:00:00.391555675
4  2023-04-01 14:45:49.568494  0.388349   0 days 00:00:00.388348936
5  2023-04-01 14:56:48.785520  0.385924   0 days 00:00:00.385924403
6  2023-04-01 15:06:07.808471  0.383013   0 days 00:00:00.383013447
7  2023-04-01 15:21:15.625199  0.377897   0 days 00:00:00.377896843
8  2023-04-01 15:30:40.995589  0.377053   0 days 00:00:00.377053193
9  2023-04-01 15:37:41.258170  0.374303   0 days 00:00:00.374303187
10 2023-04-01 15:51:08.996670  0.371343   0 days 00:00:00.371342623

In [21]:
bm_timestamp = pd.to_datetime('2023-04-01 14:17:48.404430')
bm_timestamp

Timestamp('2023-04-01 14:17:48.404430')

In [22]:
delta_o_delta = (delta["Timestamp"] - bm_timestamp).dt.total_seconds().abs()
delta_o_delta

0     9399.244777
1      611.000003
2      211.579530
3      863.936694
4     1681.164064
5     2340.381090
6     2899.404041
7     3807.220769
8     4372.591159
9     4792.853740
10    5600.592240
Name: Timestamp, dtype: float64

In [23]:
delta_o_delta.argmin()

2

In [25]:
delta.loc[delta_o_delta.argmin(), ['delta', 'timedelta']]

delta                         0.394539
timedelta    0 days 00:00:00.394538966
Name: 2, dtype: object

In [9]:
import pandas as pd
from typing import List
from packaging import version

def str_to_datetime_batch(df, parse_dates: List[str]):
    if version.parse(pd.__version__) >= version.parse("2.0.0"):
        df[parse_dates] = pd.to_datetime(df[parse_dates].stack(), format='mixed').unstack()
    else:
        df[parse_dates] = pd.to_datetime(df[parse_dates].stack()).unstack()
    return df

df = pd.DataFrame({
    'time1': ["2024-03-19 19:19:51.344234", "2024-03-19 19:19:52", "2024-03-19"],
    'time2': ["2024-03-19 19:19:51.344234", "2024-03-19 19:19:52", "2024-03-19"],
})

df = str_to_datetime_batch(df, parse_dates=['time1', 'time2'])
print(df)

2.0.3
                       time1                      time2
0 2024-03-19 19:19:51.344234 2024-03-19 19:19:51.344234
1 2024-03-19 19:19:52.000000 2024-03-19 19:19:52.000000
2 2024-03-19 00:00:00.000000 2024-03-19 00:00:00.000000

In [23]:
import pandas as pd
import time
from tqdm.notebook import tqdm
from typing import List
from typing import Union
from packaging import version
import copy

def str_to_datetime_batch(df, parse_dates: Union[List[str], None] = None):
    if parse_dates is not None:
        if version.parse(pd.__version__) >= version.parse("2.0.0"):
            df[parse_dates] = pd.to_datetime(df[parse_dates].stack(), format='mixed').unstack()
        else:
            df[parse_dates] = pd.to_datetime(df[parse_dates].stack()).unstack()
    return df

df = pd.read_csv('/home/wmnlab/F/database/2024-03-20/UDP_Bandlock_9S_Phone_A/sm00/#01/middle/udp_dnlk_client_pkt_brief.csv',
                 usecols=['seq', 'frame_time'], chunksize=100000)

for i, chunk in tqdm(enumerate(df), ncols=1000):
    print(i, type(chunk['frame_time'].iloc[0]))
    chunk = str_to_datetime_batch(chunk, parse_dates=['frame_time'])

0it [00:00, ?it/s]

0 <class 'str'>
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
8 <class 'str'>
9 <class 'str'>
10 <class 'str'>
11 <class 'str'>
12 <class 'str'>
13 <class 'str'>
14 <class 'str'>
15 <class 'str'>
16 <class 'str'>
17 <class 'str'>

0it [00:00, ?it/s]

In [7]:
import pandas as pd
df = pd.DataFrame({
    'yes': [True, True, True, True, False],
    'hello': [300, 500, 1, 10, 700]})

(df['hello'] > 50).mean() * 100
(df[df['yes']]['hello'] > 50).mean() * 100

60.0

In [12]:
int(1.4)

1

In [2]:
original_string = 'jack'
# 將字串補齊到固定長度，向左對齊並在右側填充空格
# original_string.ljust(20)

# 將字串補齊到固定長度，向右對齊並在左側填充空格
original_string.rjust(20)

'                jack'

In [3]:
import pandas as pd

# 假設你有一個 DataFrame df，並且你想要複製 'col1' 列到一個新的列 'new_col'
# 創建一個示例 DataFrame
df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5]
})

# 將 'col1' 列複製到新的列 'new_col'
df['new_col'] = df['col1'].copy()

print(df)

   col1  new_col
0     1        1
1     2        2
2     3        3
3     4        4
4     5        5