# Read CSV & Initialize dtypes

- Pandas User Guide
https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes
- datetime dtypes in pandas read_csv
https://stackoverflow.com/questions/21269399/datetime-dtypes-in-pandas-read-csv

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/diag_log_qc03_2023-02-04_16-50-15_ml1.csv")
display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Timestamp                 1859 non-null   object
 1   type_id                   1859 non-null   object
 2   PCI                       1859 non-null   int64
 3   RSRP(dBm)                 1859 non-null   float64
 4   RSRQ(dB)                  1859 non-null   float64
 5   Serving Cell Index        1859 non-null   object
 6   EARFCN                    1859 non-null   int64
 7   Number of Neighbor Cells  1859 non-null   int64
 8   Number of Detected Cells  1859 non-null   int64
 9   PCI1                      1797 non-null   float64
 10  RSRP1                     1797 non-null   float64
 11  RSRQ1                     1797 non-null   float64
 12  PCI2                      1560 non-null   float64
 13  RSRP2                     1560 non-null   float64
 14  RSRQ2                     1560 non-null   float64
 15  PCI3                      1180 non-null   float64
 16  RSRP3                     1180 non-null   float64
 17  RSRQ3                     1180 non-null   float64
 18  PCI4                      675 non-null    float64
 19  RSRP4                     675 non-null    float64
 20  RSRQ4                     675 non-null    float64
 21  PCI5                      337 non-null    float64
 22  RSRP5                     337 non-null    float64
 23  RSRQ5                     337 non-null    float64
 24  PCI6                      88 non-null     float64
 25  RSRP6                     88 non-null     float64
 26  RSRQ6                     88 non-null     float64
 27  PCI7                      9 non-null      float64
 28  RSRP7                     9 non-null      float64
 29  RSRQ7                     9 non-null      float64
dtypes: float64(23), int64(4), object(3)
memory usage: 435.8+ KB

None

,Timestamp,type_id,PCI,RSRP(dBm),RSRQ(dB),Serving Cell Index,EARFCN,Number of Neighbor Cells,Number of Detected Cells,PCI1,...,RSRQ4,PCI5,RSRP5,RSRQ5,PCI6,RSRP6,RSRQ6,PCI7,RSRP7,RSRQ7
0,2023-02-04 08:51:21.857903,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-73.0625,-8.4375,PCell,1750,1,0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-02-04 08:51:21.979190,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-78.9375,-10.5625,1_SCell,525,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-02-04 08:51:21.979201,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-79.5625,-21.0000,2_SCell,3650,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-02-04 08:51:22.028959,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-73.0625,-8.7500,PCell,1750,1,0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-02-04 08:51:22.029033,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-78.5000,-10.5000,1_SCell,525,1,1,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.read_csv("data/diag_log_qc03_2023-02-04_16-50-15_ml1.csv",
                 dtype={'type_id':'category',
                        'Serving Cell Index':'category'},
                 parse_dates=['Timestamp'])
display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Timestamp                 1859 non-null   datetime64[ns]
 1   type_id                   1859 non-null   category
 2   PCI                       1859 non-null   int64
 3   RSRP(dBm)                 1859 non-null   float64
 4   RSRQ(dB)                  1859 non-null   float64
 5   Serving Cell Index        1859 non-null   category
 6   EARFCN                    1859 non-null   int64
 7   Number of Neighbor Cells  1859 non-null   int64
 8   Number of Detected Cells  1859 non-null   int64
 9   PCI1                      1797 non-null   float64
 10  RSRP1                     1797 non-null   float64
 11  RSRQ1                     1797 non-null   float64
 12  PCI2                      1560 non-null   float64
 13  RSRP2                     1560 non-null   float64
 14  RSRQ2                     1560 non-null   float64
 15  PCI3                      1180 non-null   float64
 16  RSRP3                     1180 non-null   float64
 17  RSRQ3                     1180 non-null   float64
 18  PCI4                      675 non-null    float64
 19  RSRP4                     675 non-null    float64
 20  RSRQ4                     675 non-null    float64
 21  PCI5                      337 non-null    float64
 22  RSRP5                     337 non-null    float64
 23  RSRQ5                     337 non-null    float64
 24  PCI6                      88 non-null     float64
 25  RSRP6                     88 non-null     float64
 26  RSRQ6                     88 non-null     float64
 27  PCI7                      9 non-null      float64
 28  RSRP7                     9 non-null      float64
 29  RSRQ7                     9 non-null      float64
dtypes: category(2), datetime64[ns](1), float64(23), int64(4)
memory usage: 410.5 KB

In [7]:
dtypes = {'type_id':'category', 'Serving Cell Index':'category'}
parse_dates = ['Timestamp']
df = pd.read_csv("data/diag_log_qc03_2023-02-04_16-50-15_ml1.csv", dtype=dtypes, parse_dates=parse_dates)
display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Timestamp                 1859 non-null   datetime64[ns]
 1   type_id                   1859 non-null   category
 2   PCI                       1859 non-null   int64
 3   RSRP(dBm)                 1859 non-null   float64
 4   RSRQ(dB)                  1859 non-null   float64
 5   Serving Cell Index        1859 non-null   category
 6   EARFCN                    1859 non-null   int64
 7   Number of Neighbor Cells  1859 non-null   int64
 8   Number of Detected Cells  1859 non-null   int64
 9   PCI1                      1797 non-null   float64
 10  RSRP1                     1797 non-null   float64
 11  RSRQ1                     1797 non-null   float64
 12  PCI2                      1560 non-null   float64
 13  RSRP2                     1560 non-null   float64
 14  RSRQ2                     1560 non-null   float64
 15  PCI3                      1180 non-null   float64
 16  RSRP3                     1180 non-null   float64
 17  RSRQ3                     1180 non-null   float64
 18  PCI4                      675 non-null    float64
 19  RSRP4                     675 non-null    float64
 20  RSRQ4                     675 non-null    float64
 21  PCI5                      337 non-null    float64
 22  RSRP5                     337 non-null    float64
 23  RSRQ5                     337 non-null    float64
 24  PCI6                      88 non-null     float64
 25  RSRP6                     88 non-null     float64
 26  RSRQ6                     88 non-null     float64
 27  PCI7                      9 non-null      float64
 28  RSRP7                     9 non-null      float64
 29  RSRQ7                     9 non-null      float64
dtypes: category(2), datetime64[ns](1), float64(23), int64(4)
memory usage: 410.5 KB

None

,Timestamp,type_id,PCI,RSRP(dBm),RSRQ(dB),Serving Cell Index,EARFCN,Number of Neighbor Cells,Number of Detected Cells,PCI1,...,RSRQ4,PCI5,RSRP5,RSRQ5,PCI6,RSRP6,RSRQ6,PCI7,RSRP7,RSRQ7
0,2023-02-04 08:51:21.857903,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-73.0625,-8.4375,PCell,1750,1,0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-02-04 08:51:21.979190,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-78.9375,-10.5625,1_SCell,525,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-02-04 08:51:21.979201,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-79.5625,-21.0000,2_SCell,3650,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-02-04 08:51:22.028959,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-73.0625,-8.7500,PCell,1750,1,0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-02-04 08:51:22.029033,LTE_PHY_Connected_Mode_Intra_Freq_Meas,152,-78.5000,-10.5000,1_SCell,525,1,1,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN